body{
    background: #f2f3f4;
}
.main{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: #ffe;
    overflow: hidden;
}
.main header{
   
    padding: 20px;
    width: 50%; 
    display: flex; 
    
    justify-content: center; 
}
.main header nav a{
    color: #2f4f4f;
    max-width: 20%;
    margin: 0 10px;
    text-decoration: none;
}
.main header nav a:hover{
    color: #000000;
    text-decoration: underline;
}
.content .images{
    position: absolute;
    right: 0;
    top: 0;
    background-color: aqua;
    width: 50%;
}
.content .images img[alt="first"]{
    position: absolute;
  
    width: 600px;
    height: 700px;
    z-index: 1;
}
.content .images img[alt="second"]{
    position: absolute;
    top: -120px;
    right: -500px;
    width: 1200px;
    height: 1200px;
    z-index: 0;
}
.content .text{
    position: absolute;
    right: 40%;
    top: 30%;
    /* background-color: crimson; */
    padding: 0 20px;
    width: 600px;
    color: #2f4f4f;
    font-family: "Roboto", sans-serif;
    z-index: 2;
    line-height: 30px;
    
    
    
}
.content .text h1{
    font-size: 48px;
}
.content .text h2{
    font-size: 20px;
    letter-spacing: 2px;
}
.content .text h3{
    letter-spacing: 5px;
}
.content .btn{
    position: absolute;
    left: 20%;
    top: 60%;
    
   
  
}
.content .btn button{
    background-color: #2f4f4f;
    outline: none;
    padding: 15px 32px;
    border: 0;
    color: #ffe9f4;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    border-radius: 30px;
    cursor: pointer;
    
}