body{
    background: #f2f3f4;
    overflow: hidden;
}
.main{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    /* overflow: hidden; */
}
.main header{
   
    padding: 20px;
    width: 50%; 
    display: flex; 
    
    justify-content: center; 
}
.main header nav a{
    color: #2f4f4f;
    max-width: 20%;
    margin: 0 10px;
    text-decoration: none;
}
.main header nav a:hover{
    color: #cf91b5;
    text-decoration: underline;
}
.content .images{
    position: absolute;
    right: 0;
    top: 0;
    background-color: aqua;
    width: 50%;
}
.content .images img[alt="first"]{
    position: absolute;
    top: 0;
    width: 600px;
    height: 650px;
    z-index: 1;
}
.content .images img[alt="second"]{
    position: absolute;
    top: -120px;
    right: -500px;
    width: 1200px;
    height: 1200px;
    z-index: 0;
}
.content .text{
    position: absolute;
    right: 40%;
    top: 30%;
    /* background-color: crimson; */
    padding: 0 20px;
    width: 600px;
    color: #2f4f4f;
    font-family: "Roboto", sans-serif;
    z-index: 2;
    line-height: 30px;
    
    
    
}
.content .text h1{
    font-size: 48px;
}
.content .text h2{
    font-size: 20px;
    letter-spacing: 2px;
}
.content .text h3{
    letter-spacing: 5px;
}
.content .btn{
    position: absolute;
    left: 20%;
    top: 60%;
    
   
  
}
.content .btn button{
    background-color: #2f4f4f;
    outline: none;
    padding: 15px 32px;
    border: 0;
    color: #ffe9f4;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    border-radius: 30px;
    cursor: pointer;
    
}
footer{
    background-color: #2f4f4f;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    bottom: 0px;
    padding: 10px;
    z-index: 100;
    color: #ffe9f4;
}
/* footer .email{
    width: 30%;
}
.footer .phone{
    width: 33.33%;
}
.footer .location{
    width: 33.33%;
} */
.line{
    border-left: 1px solid #dadedf;
  height: 100%;
  position: absolute;
  left: 5%;
  margin-left: -3px;
  top: 0;
}
.socials{
    
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    padding: 5px;
}
.socials a{
    color: #2f4f4f;
    margin: 11px;
    font-size: 20px;
}
.socials a:hover{
    color: #cf91b5;
}